            <% if (login) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Log out</a>
                </li>
            <% }else{ %>
            <li class="nav-item">
                <a class="nav-link" href="/login">Log in</a>
            </li>
            <% } %>