<%- include("partials/headerHome") %> 

<div class="jumbotron" style="color: black;">
    <div class="container">
        <h1 class="display-4">Hello, <%= user.firstname+" "+user.lastname %>!</h1>
        <p class="lead">Welcome to our community.</p>
        <hr class="my-4">
        <p>Everybody is smarter than anybody. Share the knowledge that makes you smater than Everybody.</p>
    </div>
</div>
<div class="container">

    <form action="/add" method="POST" id="myForm">
        <div class="form-group">
            <label for="project[type]">Select type</label>
            <select class="custom-select" onchange="addtype()" name="project[type]" id="project[type]">
                <option value="article" selected>Article</option>
                <option value="project">Project</option>
                <option value="idea">Ideas</option>
            </select>
        </div>
        <div class="form-group">
            <label for="project[name]" >Title</label>
            <input class="form-control" type="text" id="project[name]" name="project[name]" placeholder="Title" required maxlength="100">
        </div>
        <div class="form-group hidden" id="1">
            <label for="project[idea]">What's special in this project/idea</label>
            <input class="form-control" type="text" id="project[idea]" name="project[idea]" placeholder="Idea behind the project" maxlength="150">
        </div>
        <div class="form-group">
            <label for="project[image]">Image url</label>
            <input class="form-control" type="url" id="project[image]" name="project[image]" placeholder="Image URL to support (Optional)">
        </div>
        <div class="form-group">
            <label for="project[description]">Description</label>
            <textarea class="desc" name="project[description]" placeholder="Description" required style="width: 100%;" minlength="100" style="width: 300px;"></textarea>    
        </div>
        <div class="form-group hidden" id="2">
            <label for="project[url]">GitHub or Cloud URL of Project/Idea</label>
            <input class="form-control" type="url" id="project[url]" name="project[url]" placeholder="Link">
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>
<script type="text/javascript" src="/scripts/add.js"></script>
<%- include("partials/footer") %> 