<%- include("partials/headerLogin") %> 


<!-- <form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Submit</button>
</form> -->

<div class="containeer text-center border mx-auto align-items-center" style="max-width: 300px; padding: 10px; margin-top: 150px;">
    <h1>Login</h1>
    <div class="text-left">
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="User Name">Email address</label>
                <input type="text" name="username" class="form-control" id="username" placeholder="User Name">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
            <div style="height: 5px;"></div>
            <a class="dropdown-item text-primary" href="/register">New around here? Sign up</a>
        </form>
    </div>
</div>

<%- include("partials/footer") %>